# ──────────────────────────────────────────────────────────────────────────────
# =~ Настройка модулей
RewriteEngine On

# ──────────────────────────────────────────────────────────────────────────────
# 1) Перенаправляем все запросы с www.ваш_домен.ru → https://ваш_домен.ru
RewriteCond %{HTTP_HOST} ^www\.tailsearch\.ru [NC]
RewriteRule ^(.*)$ https://tailsearch.ru/$1 [L,R=301]

# ──────────────────────────────────────────────────────────────────────────────
# 2) Обработка статуса 404 (будет подключаться файл 404.php)
ErrorDocument 404 /404.php

# ──────────────────────────────────────────────────────────────────────────────
# 3) (Опционально) Защита от просмотра скрытых файлов
<FilesMatch "^\.">
    Require all denied
</FilesMatch>
# ──────────────────────────────────────────────────────────────────────────────
